{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

  <div class="login-page">
              <img src="https://epe.brightspotcdn.com/dims4/default/8320c21/2147483647/strip/true/crop/589x400+5+0/resize/840x570!/quality/90/?url=https%3A%2F%2Fepe-brightspot.s3.amazonaws.com%2F98%2F54%2Fe3cad7f721c21b99c39c286ff9df%2F28loeb-img-getty.jpg" alt="">
    <div class="signup">
      <h1>Sign Up</h1>
      <br>
      <a href="{% url 'classroom:StudentSignUp' %}"><p>I'm a Student</p> </a>
      <br>
      <a href="{% url 'classroom:TeacherSignUp' %}"><p>I'm a Teacher</p> </a>
    </div>
    </div>



{% endblock %}
